# Configuration file

multiblock {
    # The number of threads in a large chemical infuser affects the machine's maximum energy, energy usage, and how quickly it can operate per use.
    I:LargeChemicalInfuserProcesses=256

    # The number of threads in a large chemical washer affects the machine's maximum energy, energy usage, and how quickly it can operate per use.
    I:LargeChemicalWasherProcesses=256

    # The number of threads in a large electrolytic separator affects the machine's maximum energy, energy usage, and how quickly it can operate per use.
    I:LargeElectrolyticSeparatorProcesses=256

    # The number of threads in large gas generator affects the machine's power generation, maximum energy storage, and energy output.
    I:LargeGasGeneratorProcesses=1024

    # The number of threads in a large solar neutron affects the machine's maximum energy, energy usage, and how quickly it can operate per use.
    I:LargeSolarNeutronProcesses=256

    # The range of a large wind turbine when it explodes.
    I:LargeWindGenerationBlastRadius=45

    # Whether or not the organism causes harm when it is inside the leaf while it is working
    B:LargeWindGenerationDamage=false

    # An explosion can occur after the entity has been in the blade for a number of ticks.
    I:LargeWindGenerationExplodeCount=100

    # Maximum base generation value of the Large Wind Generator.
    D:LargeWindGenerationMax=294000.0

    # The maximum Y value that affects the Wind Generators Power generation.
    I:LargeWindGenerationMaxY=255

    # Minimum base generation value of the Large Wind Generator.
    D:LargeWindGenerationMin=60.0

    # The minimum Y value that affects the Large Wind Generators Power generation.
    I:LargeWindGenerationMinY=50

    # Centered on the main body, it detects whether there is an identical wind turbine within a range of LargeWindGeneratorRangeCheck * LargeWindGeneratorRangeCheck, and stops working if there is
    B:LargeWindGenerationRangeStops=true

    # The number of threads in large wind turbines affects the machine's power generation, maximum energy storage, and energy output.
    I:LargeWindGeneratorProcesses=1024

    # Check if there are identical large wind turbines within the range; the default range is 50.
    I:LargeWindGeneratorRangeCheck=50

    # An explosion occurs when an entity is inside the rotating blades of a large wind turbine.
    B:LargewindGenerationExplode=false
}


