# Configuration file

general {

    ##########################################################################################################
    # vanilla recipes
    #--------------------------------------------------------------------------------------------------------#
    # These are recipes added by the mod to get vanilla items.
    ##########################################################################################################

    "vanilla recipes" {
        # Should you be able to craft blaze rods from blaze powder?
        B:"Blaze Rods"=true

        # Should you be able to craft bones from bonemeal?
        B:Bones=true

        # Should you be able to craft clay balls from a clay block?
        B:"Clay Balls"=true

        # Should you be able to craft cobwebs from string?
        B:Cobwebs=true

        # Should you be able to craft *one* colored glass/glass pane?
        B:"Colored Glass"=true

        # Should you be able to craft glowstone dust from a glowstone block?
        B:"Glowstone Dust"=true

        # Should you be able to craft gravel? (Flint + Cobblestone)
        B:Gravel=true

        # Should you be able to craft horse armors?
        B:"Horse Armors"=true

        # Should you be able to craft mossy stone stuff? (Cobblestone/Stone Bricks/Cobblestone Wall + Vines)
        B:"Mossy Stones"=true

        # Should you be able to craft name tags?
        B:"Name Tags"=true

        # Should you be able to get prismarine crystals back from sea lanterns?
        B:"Prismarine Crystals"=true

        # Should you be able to get prismarine shards back from prismarine blocks?
        B:"Prismarine Shards"=true

        # Should you be able to craft rotten flesh? (Fermented Spider Eye + Meat)
        B:"Rotten Flesh"=true

        # Should you be able to craft saddles?
        B:Saddles=true

        # Should you be able to craft snowballs from a snow block?
        B:Snowballs=true

        # Should you be able to craft torches with blaze power?
        B:"Torch from Blaze Powder"=true

        # Should you be able to craft vines from tall grass and slime balls?
        B:Vines=true
    }

    ##########################################################################################################
    # mod config
    #--------------------------------------------------------------------------------------------------------#
    # These options are about recipes, events, items and blocks from the mod itself. Nothing vanilla here.
    ##########################################################################################################

    "mod config" {

        ##########################################################################################################
        # recipes
        #--------------------------------------------------------------------------------------------------------#
        # These mainly deal with recipes of items from the mod.
        ##########################################################################################################

        recipes {
            # Should some mobs drop leather scraps, and can you craft leather from this? (Both drops and crafting will be toggled)
            B:"Leather Scraps"=true

            # Should you be able to craft pure quartz? (To get silicon if a mod has it)
            B:"Pure Quartz"=true

            # Should you be able to craft the zombie curing kit?
            B:"Zombie Curing Kit"=true
        }

        ##########################################################################################################
        # events
        #--------------------------------------------------------------------------------------------------------#
        # These are events that the mod adds such as mob drops, dungeon loot, etc.
        ##########################################################################################################

        events {
            # Should you be able to set mobs/players on fire just by hitting them with a blaze rod?
            B:"Blaze Rod Sets Mobs on Fire"=true

            # Should you be able to dye a block (Glass, Wool, Terracotta, etc) just by holding a dye and right clicking the block?
            B:"Dye Block by Right Clicking"=true
        }

        ##########################################################################################################
        # blocks/items
        #--------------------------------------------------------------------------------------------------------#
        # Block or item features.
        ##########################################################################################################

        "blocks/items" {
            # The range of the snow melter. Min 1, and a max of 7 blocks in each direction. Default is 3 blocks. The full 7 blocks in each direction (plus the position of the block itself) is almost a full chunks worth.
            # Min: 1
            # Max: 7
            I:"Snow Melter Range"=3
        }

    }

}


